<div class="container">
	<div class="row justify-content-md-center">
		<h3 class="col-md-10">Recuperar Senha</h3>
		<app-message class="col-md-10">Vocẽ receberá um e-mail com instruções para recuperar sua senha!</app-message>
	</div>
	<div class="row justify-content-md-center">
		<form class="col-md-10" 
		[formGroup]="userRecoverPassword"
		(submit)="submit($event)">

		<div class="form-group">
			<label for="email">E-mail</label>
			<input type="text" class="form-control" id="user" formControlName="email">
		</div>
		<button type="submit" class="btn btn-primary float-right">
			Enviar
		</button>
		</form>
	</div>
</div>
